.home-page {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  img.home-bg {
    width: 100%;
    height: auto;
  }
  img.home-bot {
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -30%);
  }
  .talk-bubble {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: #fff7f7;
    border: 8px solid #666;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    &:before {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: auto;
      right: -40px;
      top: -8px;
      bottom: auto;
      border: 32px solid;
      border-color: #666 transparent transparent transparent;
    }
    &:after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: auto;
      right: -20px;
      top: 0px;
      bottom: auto;
      border: 20px solid;
      border-color: #fff7f7 transparent transparent transparent;
    }
    .talktext {
      padding: 1em;
      text-align: left;
      font-size: 21px;
      line-height: 29px;
      color: #910000;
      p {
        /* remove webkit p margins */
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
      }
    }
  }
}
